.zoom:hover{
    transform: scale(1.075);
}

.event{
    height: 350px;
}

.image-height{
    height: 100%;
    width: auto;
}

.event-description{
    margin-top: 10px;
    height: 115px;
    overflow: auto;
}

.event-badge
{
    margin-right:10px;
}