<app-nav-bar></app-nav-bar>

<div *ngIf="eventData" class="row justify-content-center">
    <div class="shadow p-3 mb-5 bg-white rounded zoom eventData">
        <img src="{{'assets/Events/' + eventData.headerimg}}">
    </div>
    <header>
        <h2 class="text-center">Description</h2>
        <p class="font-italic">
            {{eventData.longdesc}}
        </p>
        <div class="font-weight-bold">
        </div><br>
    </header>  
<div>
    <p class="text-center font-weight-bold">
        Ticket Price: ${{eventData.price}}
    </p>    
    <button class="btn btn-primary shadow p-3 mb-2 bg-primary text-white">
        GET TICKETS NOW
    </button>
</div> 
</div>