<app-nav-bar></app-nav-bar>


<div *ngFor="let events of eventListings; let i = index" class="row">
  <div *ngFor="let event of events" class="col-md-4">
    <div class="shadow p-3 mb-5 bg-white rounded">
      <a [routerLink]="['/event', event.id]">
        <img class="img-fluid" src="{{event.img}}" />
      </a>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacus eros, ornare vitae placerat vel, posuere at nisl. Praesent fermentum dolor in venenatis egestas.
      </div>
    </div>
  </div>
</div>
